<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Neighborhood Tracker</a>
    </div>

    <!-- Adding a search form  -->
    <!-- search form end -->

    <!--The search form above-->
      {% if user.is_authenticated %}
      <ul>
        <li style="display: inline;">
          <a href="/">Home</a>
        </li>
        <li style="display: inline; margin-left: 20px;">
          <a href="{% url 'new-neighborhood' %}">
            <button type = "submit" class="btn btn-outline-success btn-md">Add a new Neighborhood</button>
          </a>
        </li>

        <li class="dropdown" style="display: inline; margin-left: 20px;">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                    <span class="caret"></span>
                </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{% url 'profile' %}">{{user.username}}</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
            <li>
            </li>

          </ul>
        </li>
      </ul>
      {% else %}
      <ul>
        <li style="display: inline;">
          <a href="/">Home</a>
        </li>

        <li class="dropdown" style="display: inline; margin-left: 20px;">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                    <span class="caret"></span>
                </a>
          <ul class="dropdown-menu" role="menu">
    
            <li>
              <a href="{%url 'login' %}">Sign-In</a>
            </li>
            <li>
              <a href="{%url 'registration' %}">Sign-Up</a>
            </li>

          </ul>
        </li>
      </ul>


      {% endif %}


  
      <form class="navbar-form" role="search" action="{% url 'search_neighborhoods' %}">
  
        <div class="input-group">
          <input type="text" style="font-family: 'Dosis', sans-serif;" class="form-control mr-sm-4" placeholder="Search Neighborhood" name="project">
          <div class="input-group-btn">
            <button class="btn btn-outline-primary my-2 my-sm-0" style="font-family: 'Dosis', sans-serif;" type="submit">Find</button>
          </div>
        </div>


      </form>

  
  
  
    </div>

</nav>
