{%extends 'base.html'%} {% block content %}
<div class="container">

  <div class="row">
    {% if neighborhood %}
      <h2>Found {{ neighborhood|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 Neighborhoods for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if neighborhood%}
    {% for neighborhood in neighborhoods %}
      <div class="col-sm-6 col-md-3">
          <h1>{{neighborhood.title}}</h1>
      </div>
    <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{neighborhood.pic.url}}" class="img-responsive" alt="Image">
    </div>

    {% endfor %}
  {% endif %}
  </div>
</div>



{% endblock %}
