{%extends 'base.html'%} {% block content %}
<div class="container">

  <div class="row">
    {% if neighborhoods %}
    <h2 style="font-family: 'Kodchasan', sans-serif;color:white;"> Here are profiles of your search term: {{message}}</h2>
    {% else %}
    <h2 style="font-family: 'Kodchasan', sans-serif;color:white;"> It appears that there are 0 profiles for your search term
      {{message}}, please try again. </h2>
    {% endif %}

  </div>


    {% if neighborhoods %}
    <div class="container">

      <div class="card-columns">

        {% for neighborhood in neighborhoods %}
        <div class="card border-secondary">
          <img src="{{neighborhood.pic.url}}" data-target="#imageModal{{neighborhood.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage"
            size="100px200">
        </div>
        {% endfor %}
      </div>
    </div>

    {% endif %}
  </div>
</div>


{% endblock %}
